<%- include('../includes/head.ejs')%>
<link rel="stylesheet" href="/css/forms.css">
</head>
<body>
    <%- include('../includes/navigation.ejs')%>
    <% if(errorMessage) {%>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <%= errorMessage %>
             </div>
    <% } %>
    <form class="row login-form" action="/reset/verify" method="POST" novalidate>
        <div class="col-sm-6">
            <label for="inputEmail4" class="form-label">Enter Otp</label>
            <input  type = "password" class="form-control" id="inputEmail4" name = "otp">

            <div class="login-btn">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button class="btn btn-outline-dark" type="submit">verify</button>
            </div>
        </div>
    </form>
<%- include('../includes/end.ejs')%>